body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

.App {
  direction: rtl;
  text-align: right;
  
  padding: 20px;
}

.word-display {
  
  font-size: 7vw; /* Adjusted size */
  /* margin-bottom: -50px; */
}

.letter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letter-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.letter-button:hover {
  color: red;
}
